POSTGRES_DB=aura
POSTGRES_USER=aura
POSTGRES_PASSWORD=aura_dev_password
POSTGRES_PORT=5432
BACKEND_PORT=8080
FRONTEND_PORT=5173
AI_CORE_PORT=8000
VITE_BACKEND_API_URL=http://localhost:8080
FRONTEND_ORIGIN=http://localhost:5173
